    <footer class="site-footer">

      <a href="#top" class="smoothscroll scroll-top">
        <span class="icon-keyboard_arrow_up"></span>
      </a>

      <div class="container">
        <div class="row mb-5">
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>점검중</h3>
            <ul class="list-unstyled">
              <li><a href="#">점검중</a></li>
              <li><a href="#">점검중</a></li>
              <li><a href="#">점검중</a></li>
              <li><a href="#">점검중</a></li>
              <li><a href="#">점검중</a></li>
              <li><a href="#">점검중</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>점검중</h3>
            <ul class="list-unstyled">
              <li><a href="#">점검중</a></li>
              <li><a href="#">점검중</a></li>
              <li><a href="#">점검중</a></li>
              <li><a href="#">점검중</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>지원</h3>
            <ul class="list-unstyled">
              <li><a href="#">문의</a></li>
              <li><a href="#">신고</a></li>
              <li><a href="#">개인정보 보호 정책</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>소설(점검중)</h3>
            <div class="footer-social">
              <a href="#"><span class="icon-facebook"></span></a>
              <a href="#"><span class="icon-twitter"></span></a>
              <a href="#"><span class="icon-instagram"></span></a>
              <a href="#"><span class="icon-linkedin"></span></a>
            </div>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-12">
            <p class="copyright"><small>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy; <a>4호선-안산선</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></small></p>
          </div>
        </div>
      </div>
    </footer>
  
  </div>